<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Android 11+ 包可见性查询声明 -->
    <queries>
        <package android:name="com.cn.ipc.server.app" />
        <intent>
            <action android:name="com.cn.ipc.ACTION_BROKER_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:label="ModernIPC 客户端 3"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Client3Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
